.photographer-infos h2 {
    font-size: 64px;
    color: #D3573C;
    font-weight: lighter;
    margin: 0;
}

.photographer-city {
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.photographer-infos .photographer-tagline {
    font-size: 18px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.error {
    color: red;
    font-size: .9rem;
    padding: .6rem 0 0 0;
    display: none;
}

.error.show {
    display: block;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    width: 40vw;
}

.modal header {
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 30px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    padding-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

#textarea {
    width: 100%;
    border-radius: 10px;
    outline: transparent;
    border: none;
    height: 100px;
    font-family: "DM Sans", sans-serif;
    padding-left: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 40px;
    column-gap: 40px;
    margin: 40px 100px;
}

.media {
    position: relative;
}

.photographer-media {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 80%;
    overflow: hidden;
    margin: 0;
}

.media-infos {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.photographer-media img, .photographer-media video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 90%;
}

#main {
    position: relative;
}

.photograph-infos {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 30px;
    display: flex;
    align-items: center;
    background-color: #DB8876;
    width: fit-content;
    padding: 25px 20px 20px 20px;
    gap: 50px;
    color: #000;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    transition: opacity .3s;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox-next, .lightbox-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox-next {
    right: 15%;
}

.lightbox-prev {
    left: 15%;
    transform: rotate(-180deg);
}

.lightbox-close {
    position: absolute;
    top: 5%;
    right: 15%;
}

.lightbox-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 0;
    padding-top: 40%;

}

.lightbox-container img, .lightbox-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.select-filter{
    margin-left: 100px;
    margin-top: 40px;
}

.select-filter #filters {
    background-color: #901C1C;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}